html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


h1, h2, h3, h4 {
    font-weight: 300;
    margin: 16px 0 0 0;
    color: #222;
    line-height: 40px;
}

h2 {
    font-size: 22px;
}

.page-container {
    padding: 0 50px 0 50px;
    position: relative;
}






.jan {margin-left:0;}
.feb {margin-left:8.333333%;}
.mar {margin-left:16.666666%;}
.apr {margin-left:25%;}
.may {margin-left:33.333333%;}
.jun {margin-left:41.666666%;}
.jul {margin-left:50%;}
.aug {margin-left:58.333333%;}
.sep {margin-left:66.666666%;}
.oct {margin-left:75%;}
.nov {margin-left:83.33333%;}
.dec {margin-left:91.66666%;}

body {
    padding: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    color: #999;
}

h1, h2, h3, h4 {
    font-weight: 300;
    margin: 16px 0 0 0;
    color: #222;
    line-height: 40px;
}

img {
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 22px;
}

p {
    margin: 0;
}

#disclaimer-wrapper {
    cursor: pointer;
    width: 100%;
    height: 100%;
    min-height: 600px;
    position: absolute;
    top: 0;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.8);
}

#disclaimer {
    width: 600px;
    margin: 12px auto;
    opacity: 0.8;
    position: relative;
    top: 200px;
    font-size: 23px;
    background: white;
    padding: 47px;
    border-radius: 6px;
    box-shadow: 0 0 12px;
    z-index: 99999;
    line-height: 34px;
}

#disclaimer:hover {
    opacity: 1;
}

#disclaimer span {
    color: black;
    font-weight: 700;
}

#disclaimer a {
    color: #FF9900;
    text-decoration: none;
}

#disclaimer a:hover {
    color: #FF6633;
}

#banner {
    height: 130px;
    width: 100%;
    background: #cccccc url('/img/midbanner.gif') repeat-x;
    min-width: 740px;
    position: relative;
}

#banner-left {
    height: 105px;
    width: 220px;
    background: url('/img/leftbanner.gif') no-repeat;
    left: 0;
    position: absolute;
    top: 0;
}

#banner-right {
    height: 105px;
    width: 520px;
    background: url('/img/rightbanner.gif') no-repeat;
    right: 0;
    position: absolute;
    top: 0;
}

.profile-block {
    font-size: 16px;
    width: 100%;
    max-width: 660px;
    margin-right: 20px;
    float: left;
}

.profile-block p {
    margin-bottom: 12px;
    color: #777;
    line-height: 1.4em;
}

#skills-block {
    font-size: 14px;
    letter-spacing: 1px;
    width: 100%;
    max-width: 620px;
    float: left;
}

#skills-block strong {
    font-size: 20px;
    font-weight: 300;
    color: #222;
}

#timeline-wrapper {
    width: 100%;
    float: left;
}

#timeline-wrapper h2 {
    width: 280px;
}

#show-timeline {
    font-size: 14px;
    color: #999;
    cursor: pointer;
    margin-left: 12px;
}

#show-timeline:hover {
    color: #555;
}

.halfcol {
    width: 290px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

.white-fade {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 98%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(98%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 98%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 98%, rgba(255, 255, 255, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 98%, rgba(255, 255, 255, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 98%, rgba(255, 255, 255, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-8 */
    height: 100%;
    position: relative;
    display: none;
}

.page-wrapper {
    width: 100%;
}

.page-container {
    padding: 0 50px 0 50px;
    position: relative;
}

.blocks-wrapper {
    width: 100%;
}

.blocks-wrapper>div {
    position: relative;
    margin: 18px 0 18px -25px;
    float: left;
    width: 100%;
    line-height: 12px;
}






#projects-container {
    padding: 12px;
}


#projects-container .project-display-description {
    margin: 20px 0;
    font-size: 12px;
}


#sub-nav {
    display: none;
    margin: 12px 0 0 12px !important;
}

#sub-nav div {
    cursor: pointer;
    line-height: 16px;
}

#sub-nav div:hover {
    color: #555;
}

#toggle {
    cursor: pointer;
}

.rel {
    position: relative !important;
}

.abs {
    position: absolute !important;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.tallest {
    height: 100% !important;
}

.block div,
.block {
    -webkit-transition: margin;
    -webkit-transition-duration: 300ms;
}



.shallow>div {
    margin: 10px 0;
}

.noml div {
    margin-left: 0 !important;
}

.noml .block-range {
    display: none;
}

.noml .block-sub {
    display: none;
}

.hl {
    height: 16px;
    border-bottom: 1px solid #888;
    font-size: 10px;
}

.clearer {
    clear: both;
}



